@import "https://fonts.google.com/specimen/Roboto?selection.family=Roboto";

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #e5e3e3;
    color: #3a3a3a;
    font-family: "Roboto Slab";
    margin: 0;
}
h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding: 4% 2% 2%;
}
p {
    font-size: 100%;
    line-height: 150%;
    padding: 5%;
    text-align: justify;
}
a {
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4%;
}
header {
    background-color: #101010;
    width: 100%;
    height: 86px;
}
#navbar{
    max-width: 80%; /** ---------------------recheck original was 1200px changed to 100% then back------------------- **/
    margin: 0 auto;
}
#logo {
    position: absolute;
    margin-right: 30px;
    float: left;
    width: 140px;
    height: 129px;
    background:url(g5045.png) no-repeat center;
}
/** navigation **/
nav {
    float: right;
    padding-top: 25px 20px 0 0;
}
#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url("menu_icon.png") no-repeat center;
}
a:hover#menu-icon {
    border-radius: 4px 0 0;
}
ul {
    list-style-type: none;
}
nav ul li {
    font-family: "Roboto";
    font-size: 150%;
    display: inline-block;
    float: left; /** remove? **/
    padding: 50px 10px 10px;
}
nav ul li a {
    text-decoration: none;    
    color: #e5e3e3;
}
nav ul li a:hover {
    color: #44a9c6;
}
.current {
    color: #e5e3e3;
}
/** end of navigation **/
.banner {
    width: 100%;
    background-color: #101010;
}
.banner-inner {
    max-width: 1100px; 
    margin: 0 auto; /** centers **/
}
.text-area {
    background-color: #e5e3e3;
}
.section {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
/** footer **/
footer {
    background-color: #6991AC;
    width: 100%;
}
.social-media {
    list-style-type: none;
    text-align: center;
}
.social-media li {
    display: inline;
}
.social-media i {
    font-size: 300%;
    margin: 1%;
    padding: 2% 2% 2% 1%;
    color: #e5e3e3;
}
.social-media i:hover {
    color: #666666;
}
/** media queries **/
@media screen and (max-width: 768px) {
    h2 {
        font-size: 150%;
    }
    p {
        font-size: 120%;
    }
    header {
        position: absolute;
        height: 10%;
    }
    #logo {
        margin: -15px 0 0 -20px; /* ---------------RECHECK --------------- */
        background: url(mhslog_mobile.png) no-repeat center; /* -------------------------create mobile image --------------------------*/
    }
    #menu-icon {
        display: inline-block;
        margin: 15px 5px 0 0;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 0;
        background: #6991AC;
        right: 5px;
        top: 55px;
        margin-top: 5px;
        border: 1px solid #fff;
        border-radius: 2px 0 2px 2px;
        width: 40%;
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 5px 0;
    }
    .banner {
        padding-top: 86px;
    }
    .social-media i {
        font-size: 180%;
    }
}