* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  border:  2px solid red;
}

body {
  background-color: #1B1B1B;
}

#logo {
  position: fixed;
  top: 0;
  z-index: 1;
}

#logo img {
  width: 10rem;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #101010;
  position: fixed;
  height: auto;
  width: 100%;
} 

.navbar li {
  float: left;
  position: relative;
  left: 10%;
}

.navbutton li a{
  font-size: 2rem;
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

.navbutton li a:hover {
  background-color: #44A9C6;
}   

.textarea {
  position: relative;
  top: 10rem;
}

.textarea p {
  text-align: left;
  color: white;
  margin-left: 200px;
  margin-right:200px;
  z-index: 3;S
}
